<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Список юзеров</h2>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Логин </th>
        <!--        <th> Пароль </th>-->
        <th> Имя </th>
        <th> Почта </th>
        <th> Роли </th>
        <th> Действия </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="7"> No Users Available </td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.id}"> id </span> </td>
        <td><span th:text="${user.login}"> login </span></td>
        <!--        <td><span th:text="[Protected]"> password </span></td>-->
        <td><span th:text="${user.username}"> name </span></td>
        <td><span th:text="${user.mail}"> mail </span></td>
        <td><span th:text="${user.getAuthorities()}"> roles </span></td>
        <td>
            <form method="get" th:action="@{/admin/edit/}" >
            <input type="submit" value="изменить"/>
            <input type="hidden" th:name="id" th:value="${user.id}"/></form>
        </td>
        <td th:if="${user.getRoles().size() < 2}">
            <form method="GET" th:action="@{/admin/delete/}">
            <input type="submit" value="Удалить"/>
            <input type="hidden" th:name="id" th:value="${user.id}"/></form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/registration">Add new user</a>
</body>
</html>