<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Registration page </title>
</head>
<body>
Register new user:
 <div th:text="${message}"></div>
<form th:action="@{/registration}" method="post">
    <div><label> Логин : <input type="text" name="login"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><label> Имя: <input type="text" name="username"/> </label></div>
    <div><label> Почта: <input type="text" name="mail"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>